.btn {
  color: red;
  background-color: rgb(209, 209, 218);
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border: none;
  cursor: pointer;
  margin: 0.625rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: rgb(47, 47, 134);
}

